body { margin: 0; font-family: Helvetica, Arial, sans-serif; background: #464; }
#main { margin: 1em auto; padding: 1em 0; width: 30em; max-width: 100%; background: #cfc; }
h1 { margin: 0 0 0.5em; text-align: center; }
table { margin: 0 auto; }
td, th { padding: 0.2em 0.5em; }
th { text-align: right; }
p.message { margin: 0.5em 0; padding: 0.3em 0; text-align: center; }
p.message.error { background: #f77; }
p.message.success { background: #ff4; }
