body, h1, p, ul { margin: 0; padding: 0; }
body { font-family: Helvetica, Arial, sans-serif; background: #234223; }
#main {
  margin: 1em auto;
  padding: 1em;
  width: 28em;
  max-width: -webkit-calc(100% - 4em);
  max-width: calc(100% - 4em);
  background: #ddeddd;
}
#user { text-align: right; }
h1 { margin-bottom: 0.28em; text-align: center; font-size: 1.75em; }
p { margin: 0.5em 0; padding: 0.3em 0; }
a { color: #004; }

/* index */
ul { list-style-type: none; border-top: 1px solid #59a559; }
li { border-bottom: 1px solid #59a559; }
li a { display: block; text-align: center; font-size: 1.5em; line-height: 2.5em; }
li a:hover, li a:focus { background: #99fe99; }

/* password */
table { width: 100%; }
td, th { padding: 0.2em 0.5em; }
th { text-align: right; }
td input[type="password"] { width: 100%; }
p.message { text-align: center; }
p.message.error { background: #f77; }
p.message.success { background: #ff4; }
